@media only screen and (max-width: 1059px){
    form{
        width: 60vw;
    }
    
}


@media only screen and (max-width: 909px){
    form{
        width: 80vw;
    }
    
    .top {
        text-align: center;
    }
    .top p{
        margin: 10px 20px;
    }
}

@media only screen and (max-width:446px){
    form{
        width:auto;
        height: auto;
        
    }
    .top::before{
        content: "";
        background-image: url("../images/background.jpg");
       
        background-position: center;
        background-repeat: repeat;
        background-size: cover;

        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 300vh;
        z-index: -1;
    
}
    form * {
        margin:9px 5px;
    }
    .tick{
        
        margin: 6px 5px;
        
        
    }
    

}